<div class="comments-wrap">
                    <div class="column large-12 comment-respond">

                        <!-- START respond -->
                        <div id="respond">
                            <h3 class="h2">Please comment to <a href="mailto:Artem.V.Shamsutdinov@dataindependence.net">Artem.V.Shamsutdinov@DataIndependence.Net</a><span>This blog has minimal functionality to reduce costs.</span></h3>
                        </div>
                        <!-- END respond-->
            
                    </div> <!-- end comment-respond -->
            
</div>